@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,100&family=Roboto:wght@300;400&display=swap');

body {
  font-family: Roboto;
  margin: 0;
}

// FIRST ROW IS HEADER
// SECOND ROW, FIRST COLUMN IS MENU
// if change size of header or menu also navigate to their respective
// scss files and cntrl + save to update
.app {
  display: flex;
  position: relative;
  height: 100vh;
  grid-template-rows: 3.5rem auto;
  grid-template-columns: 3rem auto;
}

.loading {
  width: fit-content;
  margin: auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0) inset;
  box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0) inset;
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.create-account {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-family: none;
  cursor: pointer;
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}

.head {
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 1;
}

.account-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 1;
  width: 100%;
  padding: 0 4rem;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@mixin buttons {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.cancel-button {
  @include buttons;
  background: rgba(243, 18, 96);
}

.rerun-button {
  @include buttons;
  background: rgba(0, 213, 155, 0.4);
}

.app-icon {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 255, 0.5);
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
