.faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .faq {
    width: 80%;
    height: 80%;
    padding: 1rem;
    backdrop-filter: saturate(200%) blur(8px);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
  }
}
