.textarea-container {
  color: lightgray;
  legend {
    position: relative;
    top: 2rem;
    left: 1rem;
    transition: 0.5s;
  }
  textarea {
    max-width: 100%;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.5);

    &:focus {
      outline: none !important;
      box-shadow: 0 0 10px rgba(0, 225, 255);
      transition: 0.5s;
    }
  }
  &:focus-within {
    legend {
      top: -0.2rem;
      left: 0;
      color: rgb(255, 0, 255);
    }
  }
}
