.card {
  width: fit-content;
  height: fit-content;
  background: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1rem;
  .card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
