.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  z-index: 100;
}
.profile-main .profile-header {
  display: flex;
  justify-content: space-between;
}
.profile-main .profile-content span {
  -webkit-backdrop-filter: saturate(200%) blur(8px);
          backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 8px;
}