.task-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-button {
  flex: 6;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.user-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.user-links a {
  text-align: center;
}

.config .config-open {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 0.4rem 0.4rem 0 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.config .config-main {
  width: 100%;
  padding: 1.5rem;
}
.config .config-main .config-toggles section {
  text-align: center;
}
.config .config-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  width: 100%;
}

.config-tooltip {
  position: absolute;
  right: 0.6rem;
  top: 2.2rem;
}

.display-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

.display-grid > *:nth-child(2) {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-right: 1rem;
}

.display-grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}