/* Rectangle 49 */
.button:active{
    background: #E8E8E8;
    box-shadow: 2px 2px 8px 5px rgba(255, 255, 255, 1), -2px -2px 8px 5px rgba(0, 0, 0, 0.5);
}

.button {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.round-ish {
    border-radius: 15px;
}

.round {
    border-radius: 54px;
}

.raised {
    background: #E8E8E8;
    box-shadow: -2px -2px 8px 5px rgba(255, 255, 255, 1), 2px 2px 8px 5px rgba(0, 0, 0, 0.5);
}

.inset {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: 2px 2px 8px 5px rgba(255, 255, 255, 1), -2px -2px 8px 5px rgba(0, 0, 0, 0.5);
}

.view-padding {
    padding: 10px 20px;
}

