// * GENERAL COLORS
$black5: rgba(0, 0, 0, 0.5);
$black3: rgba(0, 0, 0, 0.3);
$black1: rgba(0, 0, 0, 0.1);
$gray5: rgba(82, 82, 82, 0.5);
$dark-gray: rgba(34, 34, 34);
$dark-white: rgba(212, 212, 212);
$white5: rgba(255, 255, 255, 0.5);
$white4: rgba(255, 255, 255, 0.4);
$white2: rgba(255, 255, 255, 0.2);
$ice-blue9: rgba(0, 251, 255, 0.9);
$ice-blue6: rgba(0, 251, 255, 0.6);
$ice-blue4: rgba(0, 251, 255, 0.4);
$ice-blue1: rgba(0, 251, 255, 0.1);

// * SCROLLBAR
$pink5: rgba(255, 0, 255, 0.5);

// * BUTTONS
$button-purple: rgba(151, 80, 221);
$button-blue: rgba(0, 114, 245);
$button-yellow: rgba(245, 165, 36);
$button-red: rgba(243, 18, 96);

// * METRICS
// Doughnut/Bar
$dark-purple7: rgba(45, 0, 255, 0.7);
$purple7: rgba(85, 0, 255, .7);
$light-purple7: rgba(125, 0, 255, .7);
$lighter-purple7: rgba(165, 0, 255, .7);

// Follow & Utilization
$lighter-purple: rgba(165, 0, 255);
$teal4: rgba(0, 213, 155, .4);