$primary-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$primary-font: rgb(80, 255, 255);
$secondary-font: rgb(80, 255, 182);
$item-height: 35px;

.menu {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: absolute;
  width: 45px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  background: rgba(34, 34, 34);
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: $item-height;
    margin-bottom: 6px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      border-radius: 50%;
      background: rgb(73, 73, 73);
    }
    a {
      color: $primary-font;
      text-decoration: none;
    }
  }
  .active {
    border-radius: 50%;
    background: rgb(73, 73, 73);
  }
}

.popovers {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: absolute;
  width: 130px;
  top: 0;
  left: -80px;
  bottom: 0;
  padding-top: 70px;
  z-index: -1;
  div {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 110px;
    height: $item-height;
    margin-bottom: 6px;
    padding: 10px;
    background: rgb(34, 34, 34);
    border-radius: 20px;
    color: $secondary-font;
    transition: 1s;
    span {
      cursor: default;
    }
  }
}
