.accounts-container {
  z-index: 3;
  height: 100%;
  border: 1px solid green;
  overflow: auto;
}

table {
  background: none;
  width: 100%;
  td {
    text-align: center;
  }
  tr {
    background: white;
  }
  .borderless tbody tr td,
  .borderless tbody tr th,
  .borderless thead tr th {
    border: none;
  }
  .username-column {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    padding-left: 3rem;
  }
  .config-column > * {
    margin-right: 0.5rem;
  }
  .actions-column > * {
    margin-right: 0.5rem;
  }
}
