.accounts-container {
  z-index: 3;
  height: 100%;
  overflow: auto;
}

table {
  background: none;
  width: 100%;
  max-height: 90%;
  table-layout: auto;
}
table td {
  text-align: center;
  padding: 0.5rem;
}
table tr {
  vertical-align: center;
}
table thead tr th {
  margin: 1rem;
}
table .username-column {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}
table .config-column > * {
  margin-right: 0.5rem;
}
table .actions-column > * {
  margin-right: 0.5rem;
}