.accounts-container {
  z-index: 3;
  height: 100%;
  overflow: auto;
}

table {
  background: none;
  width: 100%;
  max-height: 90%;
  table-layout: auto;
  td {
    text-align: center;
    padding: 0.5rem;
  }
  tr {
    vertical-align: center;
  }
  thead tr th {
    margin: 1rem;
  }
  .username-column {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
  }
  .config-column > * {
    margin-right: 0.5rem;
  }
  .actions-column > * {
    margin-right: 0.5rem;
  }
}
