.create-account {
  background: none;
  border: none;
  color: white;
  font-family: none;
  cursor: pointer;
  font-size: 0.95rem;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 0.2rem 0.8rem;
  margin: 1rem;
  background: #e8e8e8;
  transition: 0.2s;
  color: black;
  font-weight: 600;
  text-decoration: none;
  &:active {
    background: #e8e8e8;
    box-shadow: 2px 2px 8px 5px rgba(255, 255, 255, 1),
      -2px -2px 8px 5px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    color: rgb(138, 138, 138);
  }
}

.head {
  text-align: center;
  padding-top: 4rem;
}

.outset {
  border: none;
  border-radius: 15px;
  box-shadow: -2px -2px 8px 5px rgba(255, 255, 255, 0.5),
    2px 2px 8px 5px rgb(0, 0, 0);
}

.inset {
  border: none;
  border-radius: 1rem;
  background: linear-gradient(300deg, #ffffff23, #00000000);
  box-shadow: 0.3rem 0.2rem 0.5rem -0.1rem rgba(0, 0, 0) inset,
    -0.2rem -0.2rem 0.2rem 0.1rem rgb(255, 255, 255, 0.3) inset;
}

hr {
  text-align: center;
  width: 60%;
  margin: 1rem auto;
}
