.slider {
  position: relative;
  height: fit-content;
  width: 3rem;
  padding: 0.4rem 0.3rem;
  border-radius: 26px;
  border: solid 2px rgb(158, 158, 158);
  margin: 1rem;
  transition: 0.5s;
  cursor: pointer;
  .slider-toggle {
    height: 1.2rem;
    aspect-ratio: 1/1;
    background: rgb(145, 145, 145);
    border-radius: 25px;
    cursor: pointer;
  }
}

.disabled {
  position: relative;
  height: fit-content;
  width: 3rem;
  padding: 0.4rem 0.3rem;
  border-radius: 26px;
  border: solid 2px rgb(158, 158, 158);
  margin: 1rem;
  transition: 0.5s;
  cursor: pointer;
  .slider-toggle {
    height: 1.2rem;
    aspect-ratio: 1/1;
    background: rgb(145, 145, 145);
    border-radius: 25px;
    cursor: pointer;
  }
}
