.slider {
  height: fit-content;
  width: 5vw;
  padding: 0.3vh 0.3vh;
  border-radius: 26px;
  border: none;
  .slider-toggle {
    height: 2vw;
    aspect-ratio: 1/1;
    background: darkgray;
    border-radius: 25px;
  }
}
