.slider {
  height: fit-content;
  width: 3rem;
  padding: 0.4rem 0.3rem;
  border-radius: 26px;
  border: solid 2px rgb(158, 158, 158);
  box-shadow: -2px -2px 8px 5px rgba(255, 255, 255, 0.541),
    2px 2px 8px 5px rgb(0, 0, 0),
    -0.1rem -0.1rem 0.4rem 0.2rem rgb(255, 255, 255, 0.541) inset,
    0.2rem 0.2rem 0.2rem 0.1rem rgb(94, 94, 94) inset,
    0 0 0 rgb(0, 0, 0, 0.5) inset;
  margin: 1rem;
  .slider-toggle {
    height: 1.2rem;
    aspect-ratio: 1/1;
    background: rgb(145, 145, 145);
    border-radius: 25px;
  }
}


// * Later Feature
// .disabled-slider {
//   height: fit-content;
//   width: 3rem;
//   padding: 0.4rem 0.3rem;
//   border-radius: 26px;
//   border: solid 2px rgb(158, 158, 158);
//   box-shadow: -2px -2px 8px 5px rgba(255, 255, 255, 0.541),
//     2px 2px 8px 5px rgb(0, 0, 0),
//     -0.1rem -0.1rem 0.4rem 0.2rem rgb(255, 255, 255, 0.541) inset,
//     0.2rem 0.2rem 0.2rem 0.1rem rgb(94, 94, 94) inset,
//     0 0 0 rgb(0, 0, 0, 0.5) inset;
//   margin: 1rem;
//   .slider-toggle {
//     height: 1.2rem;
//     aspect-ratio: 1/1;
//     background: rgb(145, 145, 145);
//     border-radius: 25px;
//   }
// }