.signup-form-container {
  min-width: 40vw;
  max-width: 400px;
  text-align: center;
  backdrop-filter: saturate(200%) blur(8px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  outline-offset: 4px;
  .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
  }
  .signup-footer {
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    backdrop-filter: saturate(200%) blur(8px);
    background: rgba(255, 255, 255, 0.4);
  }
  a {
    font-family: none;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}
