.metrics-container {
  background: lightgray;
  .metrics-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    background: white;
  }
}
