.menu {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  font-size: 1.2rem;
  padding-top: 1rem;
  z-index: 100;
}
.menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 2.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.menu .menu-item:hover, .menu .menu-item:active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 225, 255, 0.774);
  height: 2.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 251, 255, 0.6);
}
.menu .active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  height: 2.3rem;
  aspect-ratio: 1/1;
  box-shadow: 0 0 10px rgba(0, 225, 255, 0.6);
  border-radius: 50%;
}
.menu .menu-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
}

.pop-overs {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: fixed;
  gap: 1rem;
  top: 0;
  left: 0.5rem;
  bottom: 0;
  padding-top: 70px;
  font-size: 1.2rem;
  z-index: 99;
}
.pop-overs .pop-over {
  display: flex;
  align-items: center;
  justify-content: right;
  background: rgb(34, 34, 34);
  height: 2.3rem;
  padding-right: 0.5rem;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  transition: 0.5s;
}