.insta-config {
  position: fixed;
  display: grid;
  grid-template-rows: fit-content 5vh 85vh fit-content;
  width: 100vw;
  height: 100vh;
  background: rgb(44, 44, 53);
  color: rgb(175, 175, 175);
  overflow: auto;
  .config-toggles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .config-textareas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    // overflow: auto;
    .textarea-container {
      min-width: 300px;
      label {
        font-size: 1.2rem;
      }
      textarea {
        width: 100%;
        height: 12rem;
        resize: none;
        overflow: auto;
        // background: rgba(0, 0, 0, 0.171);
        color: rgb(175, 175, 175);
      }
    }
  }
  .config-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
