.billing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  .billing-main {
    position: relative;
    align-self: center;
    justify-content: center;
    width: 25rem;
    background: darkgray;
    padding: 1.5rem;
    border-radius: 8px;
    z-index: 10;
    transition: 0.5s;
    form {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      select {
        background: gray;
        border-radius: .7rem;
        height: 2rem;
      }
    }
    .payment-options {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .billing-button {
      margin: auto;
    }
  }
}
