header {
  display: grid;
  grid-template-columns: 55px 1fr 1fr;
  background: rgb(34, 34, 34);
  width: 100%;
  z-index: 1;
}
header span,
header div {
  display: flex;
  align-items: center;
}
header .username {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  cursor: default;
}
header .logo {
  position: relative;
}
header .site-name {
  font-size: 2rem;
  font-family: Montserrat;
  cursor: default;
}

/* .box-one {
  position: absolute;
  -webkit-backdrop-filter: saturate(200%) blur(8px);
          backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.9);
  transition: 0.5s;
}

.box-two {
  position: absolute;
  -webkit-backdrop-filter: saturate(200%) blur(8px);
          backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.6);
  transition: 0.5s;
}

.box-three {
  position: absolute;
  -webkit-backdrop-filter: saturate(200%) blur(8px);
          backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.4);
  transition: 0.5s;
}

.box-four {
  position: absolute;
  -webkit-backdrop-filter: saturate(200%) blur(8px);
          backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.1);
  transition: 0.5s;
} */