$primary-font: rgb(80, 255, 255);
$secondary-font: rgb(80, 255, 182);

header {
  display: grid;
  grid-template-columns: 55px 1fr 1fr;
  background: rgb(34, 34, 34);
  width: 100%;
  z-index: 1;
  span,
  div {
    display: flex;
    align-items: center;
  }
  .username {
    justify-content: end;
    padding-right: 10px;
    cursor: default;
  }
  .logo {
    position: relative;
  }
  .site-name {
    font-size: 2rem;
    font-family: Montserrat;
    cursor: default;
  }
}

.box-one {
  position: absolute;
  backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.9);
  transition: 0.5s;
}
.box-two {
  position: absolute;
  backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.6);
  transition: 0.5s;
}
.box-three {
  position: absolute;
  backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.4);
  transition: 0.5s;
}
.box-four {
  position: absolute;
  backdrop-filter: saturate(200%) blur(8px);
  background: rgba(0, 251, 255, 0.1);
  transition: 0.5s;
}
