$primary-font: rgb(80, 255, 255);
$secondary-font: rgb(80, 255, 182);

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(34, 34, 34);
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  span,
  div {
    display: flex;
    align-items: center;
  }
  .username {
    justify-content: end;
    padding-right: 10px;
    color: white;
    cursor: default;
  }
  span {
    font-size: 2rem;
    color: $primary-font;
    cursor: default;
  }
}
