.account-container {
  display: flex;
  flex-direction: column;
  background: rgb(44, 44, 53);
  overflow: auto;
}
.account-container .account-head-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
}
.account-container .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.account-container .user section {
  text-align: center;
  padding: 1rem 0;
}
.account-container .user section:nth-child(2) div {
  border-radius: 25px;
  padding: 0.2rem 1rem;
  background: rgb(228, 228, 228);
}
.account-container .user section:nth-child(3) div {
  border-radius: 25px;
  padding: 0.2rem 1rem;
  background: rgb(228, 228, 228);
}
.account-container .account-main {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1rem;
  padding: 1rem;
  height: 35rem;
}
.account-container .account-main .account-controls {
  padding: 1rem;
  text-align: center;
}
.account-container .account-main .account-controls select {
  height: 2rem;
  width: 90%;
  border-radius: 1rem;
  border: 0.1rem solid #ccc;
  padding: 0 0.5rem;
  margin-bottom: 8px;
  transition: box-shadow 0.5s;
}
.account-container .account-main .account-controls select:hover, .account-container .account-main .account-controls select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
}
.account-container .account-main .account-controls input {
  height: 2rem;
  width: 90%;
  border-radius: 1rem;
  border: 0.1rem solid #ccc;
  padding: 0 0.5rem;
  margin: auto;
  margin-bottom: 8px;
  transition: box-shadow 0.5s;
}
.account-container .account-main .account-controls input:hover, .account-container .account-main .account-controls input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
}
.account-container .account-main .account-controls textarea {
  height: 14rem;
  width: 90%;
  border-radius: 1rem;
  border: 0.1rem solid #ccc;
  padding: 0.5rem;
  margin: auto;
  resize: none;
  max-height: 15rem;
  transition: box-shadow 0.5s;
}
.account-container .account-main .account-controls textarea:hover, .account-container .account-main .account-controls textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
}
.account-container .account-main .log-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: absolute;
  right: 0;
  padding-right: 1rem;
  height: 22rem;
}
.account-container .account-main .log-container section {
  display: flex;
  justify-content: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
}
.account-container .account-main .log-container .log {
  position: relative;
  height: 80%;
  padding: 0.5rem;
  overflow-y: scroll;
}
.account-container .account-main .log-container .log .log-button {
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  left: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.account-container .account-main .log-container .log .log-button:hover, .account-container .account-main .log-container .log .log-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
}
/*# sourceMappingURL=account-styles.css.map */