.account-container {
  height: 100vh;
  background: rgb(189, 56, 56);
  .account-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
  }
  .account-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 88%;
    .account-controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: fit-content;
    }
    .account-log {
      width: 95%;
      height: 30rem;
    }
  }
}
