.account-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: lightgray;
  .account-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    padding-top: 4rem;
  }
  .account-head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
    section {
      text-align: center;
    }
    div {
      padding: 0.2rem 1rem;
    }
  }
  .controls-screen {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 80%;
    height: 25rem;
    margin: auto;
    .account-controls {
      display: none;
      padding: 1rem;
      transition: 0.5s;
      text-align: center;
      select {
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
        border: 0.1rem solid #ccc;
        padding: 0 0.5rem;
        margin: auto;
        margin-bottom: 8px;
        transition: 0.5s;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
        }
      }
      input {
        width: 95%;
        height: 2rem;
        border-radius: 1rem;
        border: 0.1rem solid #ccc;
        padding: 0 0.5rem;
        margin: auto;
        margin-bottom: 8px;
        transition: 0.5s;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
        }
      }
      textarea {
        width: 95%;
        height: 2rem;
        border-radius: 1rem;
        border: 0.1rem solid #ccc;
        padding: 0.5rem 0.5rem;
        margin: auto;
        margin-bottom: 8px;
        resize: vertical;
        max-height: 19rem;
        transition: 0.5s;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: 0 0 10px rgba(0, 225, 255, 0.5);
        }
      }
    }
    .account-log {
      padding: 0 1rem;
      overflow: auto;
    }
  }
}
